* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #cc0606;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: #f4f4f4;
    padding: 50px 20px;
    text-align: center;
}

#about, #projects, #contact {
    padding: 20px;
    text-align: center;
}

.project {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
